/code-3-dexe-be/node_modules
/code-3-dexe-be/package-lock.json
/code3dexekhaipoy/node_modules
/code3dexekhaipoy/package-lock.json
/fureal3D/node_modules
/fureal3D/package-lock.json
/code3dexekhaipoy/build
boxroom.glb
clipboard_handle.py
full_backup_admake.sh
server_full_backup_20251221_112203.tar.gz
server_full_backup_20251226_215003.tar.gz
textures_list.txt